<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @og_description %>">
    <meta name="google-site-verification" content="Li_R4YCLGDWFbCT0ZEUhX97MFZpylb2QhYCu4KfHZdk" />
    <meta property="og:site" content="dokk.in"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="<%= @og_description %>" />
    <meta property="og:title" content="<%= @og_title %>"/>
    <meta property="og:image" content="<%= @og_image %>"/>
    <meta property="og:url" content="<%= @og_url %>"/>

    <title><%= @title %></title>
    <%= if Mix.env == :prod do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/bundle.css") %>">
      <link rel="icon" href="<%= static_path(@conn, "/images/favicon.png") %>">
    <% else %>
      <link rel="icon" href="http://localhost:8080/images/favicon.png">
    <% end %>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <%= if Mix.env == :prod do %>
      <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
    <% else %>
      <script src="http://localhost:8080/bundle.js"></script>
    <% end %>
      <script>
      window.onerror = function (message, url, lineNo, colNo, error) {

        console.log(arguments);

        let container = document.createElement('div');

        container.style.color = 'red';
        container.style.position = 'fixed';
        container.style.background = '#eee';
        container.style.padding = '2em';
        container.style.top = '1em';
        container.style.left = '1em';

        let msg = document.createElement('pre');
        msg.innerText = [
            'Message: ' + message,
            'URL: ' + url,
            'Line: ' + lineNo,
            'Column: ' + colNo,
            'Stack: ' + (error && error.stack)
        ].join('\n');

        container.appendChild(msg);

        document.body.appendChild(container);
    };
    </script>
  </body>
</html>
