<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @og_description %>">
    <meta property="og:site" content="dokk.in"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="<%= @og_description %>" />
    <meta property="og:title" content="<%= @title %>"/>
    <meta property="og:image" content="<%= @og_image %>"/>
    <meta property="og:url" content="<%= @og_url %>"/>
    <meta property="keywords" content="<%= @keywords %>"/>

    <title><%= @title %></title>
    <%= if Mix.env == :prod do %>
      <link rel="stylesheet" href="<%= static_path(@conn, "/css/bundle.css") %>">
      <link rel="icon" href="<%= static_path(@conn, "/images/favicon.png") %>">
    <% else %>
      <link rel="icon" href="http://localhost:8080/images/favicon.png">
    <% end %>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <%= if Mix.env == :prod do %>
      <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
    <% else %>
      <script src="http://localhost:8080/bundle.js"></script>
    <% end %>
  </body>
</html>
