$grey: #36393F;
$white: #fff;
$font: "Helvetica Neue", "Helvetica", "sans-sarif";
$font-medium: 12px;

body {
  background-color: $grey;
  color: $white;
  font-family: $font;
  font-size: $font-medium;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: auto;
  margin: 10px;

  .card-character { 
    width: 100px;
  }
  .card-frame {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 14px; 
    position: relative;
  }
  .card-rarity {
    width: 45px;
    bottom: -5px;
    position: absolute;
  }
  .card-element {
    width: 38px;
    right: -5px;
    top: 0px;
    position: absolute;
  }
  .card-background, .card-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .card-name {
    width: 125px;
    text-align: center;

    span {
      display: block;
    }
  }
}
