.card {
  .card-character { 
    width: 100px;
  }
  .card-frame {
    width: 100px;
    height: 100px;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 14px; 
    position: relative;
  }
  .card-rarity {
    width: 45px;
    bottom: -5px;
    position: absolute;
  }
  .card-element {
    width: 38px;
    right: -5px;
    top: 0px;
    position: absolute;
  }
  .card-background, .card-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  height: auto;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}
