// Colors
$grey: #36393F;
$light-grey: #484B51;
$dark-grey: #2F3136;
$white: #fff;
$light-blue: #93cddc;
$offwhite: hsla(0,0%,100%,.7);

// Fonts
$font: "Helvetica Neue", "Helvetica", "sans-sarif";
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;

body {
  background-color: $grey;
  color: $offwhite;
  font-family: $font;
  font-size: $font-medium;
  letter-spacing: .6px;
  font-weight: 300;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.card-row {
  background-color: $dark-grey;
  max-width: 100%;
  width: 500px;
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 9px;

  .card-row-right {
    margin-left: 20px;
  }

  .card-row-title {
    font-size: $font-small;
    color: $light-blue;
  }

  .card-row-details {
    margin-top: 10px;
    font-size: $font-small;

    .card-row-detail-title {
      font-weight: bold;    
    }
  }
}

.card {
  height: auto;

  .card-character { 
    width: 100px;
  }
  .card-frame {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 14px; 
    position: relative;
  }
  .card-rarity {
    width: 45px;
    bottom: -5px;
    position: absolute;
  }
  .card-element {
    width: 38px;
    right: -5px;
    top: 0px;
    position: absolute;
  }
  .card-background, .card-foreground {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .card-name {
    width: 125px;
    text-align: center;

    span {
      display: block;
    }
  }
}

.search {
  max-width: 100%;
  input {
    border: none;
    border-radius: 3px;
    background-color: #484B51;
    color: white;
    height: 35px;
    width: 400px;
    max-width: 100%;
    padding: 5px 12px;
    margin-top: 12px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: $font-large;
    letter-spacing: .6px;
    font-weight: 300;
  }

  input:focus {
    outline: none;
  }
}
