$tablet-width: 768px;
$card-page-flexbox-width: 815px;
$mobile-sidebar-width: 35px;

@media screen and (max-width: $card-page-flexbox-width) {
  .app-container {
    .card-page-content {
      height: 100%;
      margin: 0;

      .card-char-pane {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card-full-art {
          margin-left: 0;
          height: 400px;
          width: 300px;
        }

        .card-awaken-info {
          margin-left: 0;
          margin-bottom: 20px;
          width: 100%
        }
      }

      .card-page-info {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .app-container {
    .page {
      margin: 0 0 0 $mobile-sidebar-width;
    }
    .nav-bar {
      .nav-bar-left {
        width: 100%;

        .logo-link {
          margin-left: 5px;
        }

        .search {
          width: calc(100% - 111px);
          
          .dropdown-menu {
            position: absolute;
            width: calc(100% - 20px);
            margin-left: 10px;
            left: 0;
          }
          input {
            margin: 10px 0 10px 10px;
            width: 100%;
          }
        }
      }
    }

    .grid-item {
      &.loader {
      
        .grid-item-title-loader {
          width: 150px;
        }
      
        .grid-item-loader-text {
          &.first {
            width: 200px;
          }
      
          &.second {
            width: 100px;
          }
      
          &.third {
            width: 125px;
          }
        }
      }
    }

    .left-nav {
      padding-top: 5px;
      
      .sidebar-link {
        a {
          padding-left: 10px;
        }
        span {
          display: none;
        }
      }
    }

    .sidebar {
      width: $mobile-sidebar-width;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px !important;
    }
  }
}