// Colors
$black: #222;
$grey: #36393F;
$light-grey: #484B51;
$dark-grey: #2F3136;
$white: #fff;
$light-blue: #93cddc;
$offwhite: hsla(0,0%,100%,.7);
$orange: #5d4817;

// Fonts
$font: "Helvetica Neue", "Helvetica", "sans-sarif";
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-heading: 26px;
$font-subheading: 22px;

// Heights & Widths
$nav-bar-height: 48px;

// Transitions
$fade-in-transition: opacity .2s ease-in-out, transform .3s ease-in-out;